@import 'src/styles/theme';

.table:global(.govuk-table) {
  font-size: 14px;

  .cell {
    font-weight: 400;
    line-height: 18px;
    vertical-align: middle;
  }

  .bigRow {
    font-size: 18px;
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .lightWeight {
    font-weight: 300;
  }

  .bold {
    font-weight: 700;
  }

  .checkbox {
    width: 0;
  }
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 30px auto 0;

  .page {
    margin-right: 20px;
  }

  .currentPage p {
    color: $lbh-text-colour;
  }

  .inactivePage p {
    color: lbh-colour('lbh-grey-2');
    cursor: default;

    &:hover {
      text-decoration: none;
    }
  }
}

.hoverable:hover {
  :global(.govuk-table__cell) {
    padding: 10px 0;

    & > button,
    & > p,
    & > div {
      background-color: #fef5e1;
      padding: 16px;
    }
  }
}
