@import 'src/theme';

.modal {
  max-width: 1080px;
  margin: 60px auto;
  padding: 60px;
  background-color: white;
}

.overlayModal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  background-color: rgb(0 0 0 / 50%);
}
