@import 'src/theme';

.wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 30px;

  & > .subtitle {
    line-height: 33px;
    margin-bottom: 10px;
    color: lbh-colour('lbh-grey-1');
  }

  & > .description {
    margin-top: 10px;
  }
}
